<div class="col-md-1"></div>
<div class=" container col-md-10" style="align: center">
    <div class="panel panel-warning">
        <div class="panel-heading" ><h1>Nuevo perfil</h1></div>
        <div class="panel-body" >
            <%= render 'form', profile: @profile %>
            <br style="clear:both;">
            <br style="clear:both;">
            <div class="col-md-8">
                <div class="input-group margin-bottom-md">
                    <table>
                        <tr>
                            <td>
                                <span class="input-group-addon"><i class="fa fa-mail-reply fa-lg"></i><%= link_to 'Volver', profiles_path,{ class: "btn btn-warning btn-sm" } %></span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-1"></div>