<style>
@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    src: local('Pacifico Regular'), local('Pacifico-Regular'), url(http://themes.googleusercontent.com/static/fonts/pacifico/v5/yunJt0R8tCvMyj_V4xSjafesZW2xOQ-xsNqO47m55DA.woff) format('woff');
  }
  

  .text{
    text-align:center;
    font-size:7em;
    margin:20px 0 20px 0;
  }
  
  .link{
    text-decoration:none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
  }
  
  p:nth-child(1) a{
    color:#AF0F20;
    font-family:Pacifico;
  }
  p:nth-child(1) a:hover{
    -webkit-animation: neon4 1.5s ease-in-out infinite alternate;
    -moz-animation: neon4 1.5s ease-in-out infinite alternate;
    animation: neon4 1.5s ease-in-out infinite alternate;
  }

  @-webkit-keyframes neon4 {
    from {
      text-shadow: 0 0 10px #fff,
                 0 0 20px  #fff,
                 0 0 30px  #fff,
                 0 0 40px  #AF0F20,
                 0 0 70px  #AF0F20,
                 0 0 80px  #AF0F20,
                 0 0 100px #AF0F20,
                 0 0 150px #AF0F20;
    }
    to {
      text-shadow: 0 0 5px #fff,
                 0 0 10px #fff,
                 0 0 15px #fff,
                 0 0 20px #AF0F20,
                 0 0 35px #AF0F20,
                 0 0 40px #AF0F20,
                 0 0 50px #AF0F20,
                 0 0 75px #AF0F20;
    }
  }
  @-moz-keyframes neon4 {
    from {
      text-shadow: 0 0 10px #fff,
                 0 0 20px  #fff,
                 0 0 30px  #fff,
                 0 0 40px  #AF0F20,
                 0 0 70px  #AF0F20,
                 0 0 80px  #AF0F20,
                 0 0 100px #AF0F20,
                 0 0 150px #AF0F20;
    }
    to {
      text-shadow: 0 0 5px #fff,
                 0 0 10px #fff,
                 0 0 15px #fff,
                 0 0 20px #AF0F20,
                 0 0 35px #AF0F20,
                 0 0 40px #AF0F20,
                 0 0 50px #AF0F20,
                 0 0 75px #AF0F20;
    }
  }
  @keyframes neon4 {
    from {
      text-shadow: 0 0 10px #fff,
                 0 0 20px  #fff,
                 0 0 30px  #fff,
                 0 0 40px  #AF0F20,
                 0 0 70px  #AF0F20,
                 0 0 80px  #AF0F20,
                 0 0 100px #AF0F20,
                 0 0 150px #AF0F20;
    }
    to {
      text-shadow: 0 0 5px #fff,
                 0 0 10px #fff,
                 0 0 15px #fff,
                 0 0 20px #AF0F20,
                 0 0 35px #AF0F20,
                 0 0 40px #AF0F20,
                 0 0 50px #AF0F20,
                 0 0 75px #AF0F20;
    }
  }
</style>
<br>
<br>
<br>
<div class="container">

  <p class="text"><a href="" class="link">
    Bienvenido a Audit!
  </a></p>

</div>
