<h1> ¡Saludos!</h1>

<p>Hemos recibido una solicitud de restablecimiento de contraseña asociada a esta dirección de correo electrónico. Si has realizado esta solicitud, sigue las siguientes instrucciones.
        Para restablecer la contraseña de tu cuenta, simplemente tienes que hacer clic en el siguiente vínculo.
</p>
<a href="<%= @greeting %>"> Click aqui! </a>
<p>
Este vínculo te dirigirá a una página Web en la que podrás establecer una nueva contraseña. 
        Ten en cuenta que el vínculo caducará en 24 horas a partir del momento en el que se envió este correo electrónico. Si el vínculo no funciona cuando haces clic en él, puedes copiarlo y pegarlo en la barra de direcciones del navegador. 
        Ha sido un placer ayudarte.
</p>
