<div class="container">
    <div class="card mx-auto mt-5">
        <div class="card-header">Editar Empresa</div>
        <div class="card-body">
            <%= render 'form', empresa: @empresa %>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <%= link_to 'Show', @empresa,{ class: "btn btn-info btn-sm" } %> |
                        <%= link_to 'Back', empresas_path,{ class: "btn btn-info btn-sm" } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
